

html, body {
  background-color: #4747d1;
}

* {
  box-sizing: border-box;
  /*border: 1px solid lawngreen;*/
}


#container-main {
  max-width: 800px;
  padding: 30px;
  color: #e6e6ff;
}

#game-start {
  background-color: #e6e6ff;
  color: #4747d1;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 3px;
  display: block;
  margin: 40px auto;
  padding: 10px;
}

h1 {
  padding-bottom: 30px;
  color: #ffffff;
  text-shadow: 5px 5px #000000;
}

a {
  color: #ffffff;
  font-weight: bold;
}
