

html, body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.container-main {
  background-image: url("../images/light_underwater.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #4747d1;
  width: 45rem;
  padding: 3rem 3.5rem;
  color: #e6e6ff;
  margin: 2rem;
  border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
  border: 5px solid silver;
}

.container-control {
  padding-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;

}

.control-item {
  width: 16rem;
}

.container-start {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.container-choicelist-rounds {
  font-size: 0.75rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  text-align: center;
}

.container-choicelist-rounds span {
  font-size: 1.2em;
  padding: 0 2rem;
}

.container-score,
.container-choicelist-hand {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.scoreboard td {
  padding: 0.5rem;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}

.title {
  font-size: 1.8em;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-shadow: 6px 6px 5px black;
  text-align: center;
  margin: 0 0 0.75rem;
}

.title-main {
  font-size: 3em;
  margin: 0 0 2rem;
}

/**
  *   GAMELOG, AND CLASSES FOR MATCHLOG LOG ELEMENTS
  */

.container-matchlog {
}

.container-matchlog p {
  font-size: .750em;
  margin: 0 0 0.4rem;
}

.matchlog {
  max-height: 30rem;
  overflow: auto;
}

.log-round-result {
  color: yellow;
  font-weight: 600;
}

.log-title {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 1px 1px 2px black;
  margin: 0.75rem 0;
}

/**
  *   BUTTONS
  */

.button {
  color: #ccffff;
  background-color: #006666;
  font-size: 0.85em;
  font-weight: bold;
  width: 5rem;
  height: 2rem;
  border-radius: 1.2rem 1.2rem 1.2rem 1.2rem / 1rem 1rem 1rem 1rem;
  border: 1px solid silver;
}

.button:hover {
  color: teal;
  background-color: paleturquoise;
  border: 1px solid #006666;
}

.button-instructions {
  width: 8rem;
  margin-top: 2rem;
}

.button-choice {
  color: #006666;
  background-color: #ccffff;
  border: 1px solid #006666;
}

.button-choice:hover {
  color: #ccffff;
  background-color: #006666;
  border: 1px solid silver;
}

/**
  *   INSTRUCTIONS CONTAINER (SLIDING/FADING)
  */

.container-instructions {
  height: 0;
  -moz-transition: height 1.5s;
  -webkit-transition: height 1.5s;
  -ms-transition: height 1.5s;
  -o-transition: height 1.5s;
  transition: height 1.5s;
}

/* All elements on the instructions container div */
.instructions-content {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.hide {
  display: none;
}


.slide-down {
  height: 32rem;
}

.opacity-full {
  opacity: 1;
  transition-duration: 2s;
  transition-timing-function: ease-in;
}
